@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

li, a, button{

   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 16px;
   color:rgb(134, 133, 133);
   text-decoration:none;
}
header{
   display:flex;
   justify-content: space-between;
   align-items: center;
   padding:30px 10%;
   box-sizing:0;
   margin: 20px;
   padding:0;
   background-color:white;
}
.logo{
   cursor: pointer;
   height:100px;
}
.nav-links{
   list-style: none;
}
.nav-links li{
   display:inline-block;
   padding:0px 20px;
}.nav-links li a{
   transition:all 0.3s ease 0s;
}
.nav-links li a:hover{
   color:#0088a9;
}
header button{
   padding:9px 25px;
   background-color: rgba(0,136,169,1);
   border:none;
   border-radius: 50px;
   transition:all 0.3s ease 0s;
   cursor: pointer;
}button:hover{
   background-color: rgba(0,136,169,0.8);
}






/* whole page */

@media screen and (min-width: 601px) {

    .container {

       margin-left: 200px;
       margin-right: 200px;
       margin-bottom: 100px;
       margin-top: 100px;
      
    }
}

@media screen and (max-width: 600px) {

   .container {

       margin-left: 160px;
       margin-right: 100px;
       margin-bottom: 50px;
       margin-top: 50px;
   }
}


/* Header */

@media screen and (min-width: 601px) {
   .head {

       background-color: #464646;
       width: 100%;
       height: 150px;
       position: relative;
       
   }

   .head h1 {

       font-weight: 900;
   }

   h1 {

       text-align: center;
       color: white;
       position: absolute;
       left: 32%;
       top: 30px;
       
       }
 }

 @media screen and (max-width: 600px) {
   .head {

       background-color: #464646;
       width: 100%;
       height: 75px;
       position: relative;
       
   }

   .head h1 {

       font-weight: 900;
   }

   h1 {

       text-align: center;
       font-size: small;
       font-size: 30px;
       color: white;
       position: absolute;
       left: 10%;
       bottom: 1px;
       
       }
 }

 

/* main part */

h3 {

   font-weight: 700;
}



@media screen and (min-width: 601px) {
   .contentField p {
     font-size: 18px;
   }

   .contentField {

       margin: 20px;
       padding: 20px;

    
  } 

  #cafe {

   text-decoration: none;
   color: black;
} 

  .mobile p {

   display: none;
  }

  .span4 .img-left {

   float: left;
   margin-right: 30px;

  
}

.span4 .img-right {
   float: right;
   margin-left: 30px;

}
 }
 
 @media screen and (max-width: 600px) {
  .contentField p{
     /*  font-size: 13px; */
     display: none;
   } 

   .contentField {

       margin-left: 5px;
       padding: 5px;
  } 

  #cafe {

   text-decoration: none;
   color: black;
} 

  .span4 .img-left {

   width: 200px;
   height: 200px;
   margin-right: 5px;

  
}

.span4 .img-right {
   

   width: 200px;
   height: 200px;
   margin-left: 5px;

}
 }


/* input of visitors */

/*.visitors {

   text-align: center;
   margin-top: 50px;
} */

@media screen and (min-width: 601px){

     .visitors {

       text-align: center;
       margin-top: 50px;
     }


     #textArea {


       width: 300px;
       height: 200px;
     }
}

@media screen and (max-width: 600px){

    .visitors {

       text-align: center;
       margin-top: 25px;
    }

    #textArea {

       width: 200px;
       height: 100px;
    }
}

/* pictures at the bottom */

@media screen and (min-width: 601px){

   .photos {

       margin: 60px;
   }

   .enlarge {

       transition: transform 1.3s; /* Animation */
       width: 200px;
       height: 200px;
       margin: 0 auto;
       
       } 
       
       .enlarge:hover {
       
          transform: scale(2.0);
       } 
       

}

@media screen and (max-width: 601px){


   .photos {

       margin-left: 160px;
         
    }

    .enlarge {

       
       width: 200px;
       height: 200px;
       margin: 0 auto;
       
       } 

}



/* ----- FOOTER ----*/ 
.footer{
   color: white;
   border-top: 6px solid #04B486 ;
   background-color: #0B614B;
   background: linear-gradient(20deg,#071914,#04B486,#088A85); /*Change colors as you want*/
   background-size: 400% 400% !important;
   -webkit-animation: changeColors 10s ease infinite;
   -moz-animation: changeColors 10s ease infinite;
   -o-animation: changeColors 10s ease infinite;
   animation: changeColors 10s ease infinite;
}.text-center {
   text-align: center;
   padding: 10px;
}
.footer h1 {
    margin: 20px;
    font-size: 20px;
}
.designed {
   font-size: 14px;}@-webkit-keyframes changeColors {
   0% {
       background-position: 0 50%;
   }
   50% {
       background-position: 100% 50%;
   }
   100% {
       background-position: 0 50%;
   }
}


